*
!/.gitignore
!*.bat
!/.vscode/
!/.vscode/**
!/minecraft-server-operator/
!/minecraft-server-operator/.mvn/
!/minecraft-server-operator/.mvn/**
!/minecraft-server-operator/mvnw*
!/minecraft-server-operator/pom.xml
!/minecraft-server-operator/src/
!/minecraft-server-operator/src/**
!/velocity-plugin/
!/velocity-plugin/.mvn/
!/velocity-plugin/.mvn/**
!/velocity-plugin/mvnw*
!/velocity-plugin/pom.xml
!/velocity-plugin/src/
!/velocity-plugin/src/**
!/velocity-plugin/velocity/
!/velocity-plugin/velocity/forwarding.secret
!/velocity-plugin/velocity/velocity.toml
!/velocity-plugin/velocity/lang/
!/velocity-plugin/velocity/lang/**
!/velocity-plugin/velocity/plugins/
!/velocity-plugin/velocity/plugins/velocityauth/
!/velocity-plugin/velocity/plugins/velocityauth/application.yml
!/picolimbo/
/picolimbo/*
!/picolimbo/server.toml

# пришлось грузить jar файлы прокси и сервера, так как они не собираются в проде
!/picolimbo/picolimbo.jar
!/velocity-plugin/velocity/velocity.jar